.unit-block-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-around;
  padding: 5px 2px;
}

.unit {
  width: 5px;
  border: 1px solid rgb(255, 255, 255);
  height: 5px;
  // margin: 0.5px;
  border-radius: 17px;
  background: rgb(32, 32, 32);
  cursor: pointer;
}

.isRead {
  background: #ebb400;
  border: 2px solid #ebb400;
}
