.unit-view-container {
  // background: red;
  // background: red;
  // opacity: 0.1;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70px repeat(29, 44px);
  grid-template-rows: 20px repeat(4, auto);

  .row-header{
    font-size: 12px;
  }
  .col-header {
    font-size: 12px;
  }
}