.selected {
  border: 1px solid rgb(212, 68, 31) !important;
  background: rgb(212, 68, 31) !important;
  // margin: 0 !important;
  opacity: 1 !important;
}
.selected-ref {
  border: 1px solid rgb(175, 158, 0) !important;
  background: rgb(175, 158, 0) !important;
  // margin: 0 !important;
  opacity: 1 !important;
}
.selected-cited {
  border: 1px solid rgb(32, 112, 29) !important;
  background: rgb(32, 112, 29) !important;
  // margin: 0 !important;
  opacity: 1 !important;
}
$fade-time: 2s;

$china-color: #fc8d59;
.has-china {
  background: $china-color !important;
  opacity: 1 !important;
}
.all-china {
  border: 1px solid $china-color !important;
  background: $china-color !important;
  opacity: 1 !important;
  // animation: fade 1s infinite;
  // -webkit-animation: fade $fade-time infinite;
}

$japan-color: #beaed4;
.has-japan {
  background: $japan-color !important;
  opacity: 1 !important;
}
.all-japan {
  border: 1px solid $japan-color !important;
  background: $japan-color !important;
  opacity: 1 !important;
  // animation: fade $fade-time infinite;
  // -webkit-animation: fade $fade-time infinite;
}

$korea-color: #7fc97f;
.has-korea {
  background: $korea-color !important;
  opacity: 1 !important;
}
.all-korea {
  border: 1px solid $korea-color !important;
  background: $korea-color !important;
  opacity: 1 !important;
  // animation: fade $fade-time infinite;
  // -webkit-animation: fade $fade-time infinite;
}

.active-button {
  background: rgb(88, 153, 214);
  color: rgb(255, 234, 234);
}
.active-button-china {
  background: $china-color;
  color: rgb(255, 234, 234);
}
.active-button-japan {
  background: $japan-color;
  color: rgb(255, 234, 234);
}
.active-button-korea {
  background: $korea-color;
  color: rgb(255, 234, 234);
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

$headerHeight: 26px;
$detailViewWidth: 300px;
$controlPanelHeight: 75px;
$userViewHeight: 140px;
.App {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .HeaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: $headerHeight;
    width: 100%;
  }
  .ContentContainer {
    position: absolute;
    left: 0;
    top: $headerHeight;
    width: 100%;
    bottom: 0;
    // background: green;
    .ControlViewContainer {
      position: absolute;
      left: 0;
      top: 0;
      height: $controlPanelHeight;
      right: $detailViewWidth;
      // background: red;
      padding: 5px 10px;
    }
    .MainViewContainer {
      position: absolute;
      left: 0;
      top: $controlPanelHeight;
      right: $detailViewWidth;
      bottom: 0;
      // background: yellow;
      padding: 10px;
    }
    .DetalViewContainer {
      position: absolute;
      right: 0;
      top: 0;
      width: $detailViewWidth;
      // bottom: $userViewHeight + 10;
      bottom: 0;
      // background: blue;
      overflow: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .UserViewController {
      position: absolute;
      right: 0;
      width: $detailViewWidth;
      height: $userViewHeight;
      bottom: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}
